<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Empid</th>
            <th>Ename</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
        <tr>
            <td><%empdata[0].empid%></td>
            <td><%empdata[0].ename%></td>
            <td><%empdata[0].age%></td>
            <td><%empdata[0].salary%></td>

        </tr>
    </table>
</body>
</html>